.ContentDiv{
    height: 38vh;
    width: 100%;
    /* border: 1px solid red; */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
      flex: 1; /* takes remaining vertical space */
    justify-content: center; /* vertical centering */
}

.MymoviesDiv{
    height: 38vh;
    width: 30%;
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.MymoviesHeading{
    font-size: 60px;
    /* font-weight: 700; */
    margin-bottom: 50px;
}
.MymoviesSubheading{
    font-size: 24px;
    font-weight:lighter;
    margin-bottom: 20px;
}
.MymoviesButton{
    height: 37px;
    width: 7vw;
    border-radius: 12px;
    border: 1px solid rgb(0,156,234);
    background-color: rgb(0,156,234);
    /* margin-top: 15px; */
    color: white;
    font-weight: lighter;
    /* font-size: 16px; */
}