
.Nav22 {
  height: 18vh;
  background-color: black;
  display: flex;
  align-items: center;

  gap: 16px;
  position:sticky !important; 
  top: 0;
  left: 0;
  scroll-behavior: smooth;
  width: 100%;
  /* border: 1px solid red; */
  z-index: 1000;
  padding: 0;
  margin: 0%;

}

.buttonn {
  height: 8vh;
  padding: 0 20px;
  border-radius: 40px;
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 17px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.25s ease;
  margin-left: 20px;
}

.buttonn:not(.active):hover {
  background-color: rgb(107, 104, 104);
}

.buttonn.active {
  background-color: rgb(77, 77, 77);
}

