*{
    margin: 0;
}
.Nav{
    height: 8vh;
    /* border: 1px solid red; */
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    align-items: center;
   
    

}
.Navdiv{
    /* border: 1px solid red; */
    width: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 12px;
    
}
.Navdiv1{
    /* border: 1px solid red; */
    width: 20vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
     /* margin-top: 10px; */
}
.logo{
    /* margin-top: px; */
    width: 43%;
    height: 53%;
}
.searchLogo{
    /* margin-top: 16px; */
    width: 10%;
    height: 25%;
}
.navButton{
    height: 34px;
    width: 7vw;
    border-radius: 10px;
    border: 1px solid rgb(0,156,234);
    background-color: rgb(0,156,234);
    /* margin-top: 15px; */
    color: white;
    font-weight: 700;
    /* font-size: 16px; */
}