
.Nav2 {
  height: 18vh;
  background-color: black;
  display: flex;
  align-items: center;
  gap: 16px;
  /* padding-left: 25px; */
  /* border: 1px solid red; */
}

.button {
  height: 8vh;
  padding: 0 20px;
  border-radius: 40px;
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 17px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.25s ease;
}

.button:not(.active):hover {
  background-color: rgb(107, 104, 104);
}

.button.active {
  background-color: rgb(77, 77, 77);
}

