@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;1,600&display=swap');

.Nav22 {
  height: 15vh;
  background-color: black;
  display: flex;
  align-items: center;
  gap: 16px;
  position:sticky !important; 
  top: 0;
  left: 0;
  scroll-behavior: smooth;
  width: 100%;
  /* border: 1px solid red; */
  z-index: 1000;
  padding: 0;
  margin: 0%;
  font-family: Open Sans Semi-Bold, sans-serif;
  font-size: 18px;
}


.buttonn {
  height: 8vh;
  padding: 0 20px;
  border-radius: 40px;
  background-color: black;
  color: white;
  font-weight: bold;
  /* border: 1px solid red; */
  font-family: Open Sans Semi-Bold, sans-serif;
  font-size: 18px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.25s ease;
  margin-left: 31px;
}

.buttonn:not(.active):hover {
  background-color: rgb(107, 104, 104);
   font-family: Open Sans Semi-Bold, sans-serif;
  font-size: 18px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.buttonn.active {
  background-color: rgb(77, 77, 77);
   font-family: Open Sans Semi-Bold, sans-serif;
  font-size: 18px;
  border: 3px solid white;
}

