*{
    margin: 0;
}
.slideDiv{
    height: 85vh;
     /* width: 97vw; */
    margin-left: 30px;
    /* background-color: burlywood; */
    background-color: rgb(17,17,28);
    border-radius: 20px;
    margin-top: 15px;

}
.line{
    height: 1vh;
    background-color: rgb(111,138,236);
    border: 1px solid rgb(111,138,236);
}
.Banners{
    height: 65vh;
     width: 97vw;
      border-radius:20px 20px 0px 0px;
     background-color: rgb(23,21,58);

}