*{
    color: white;
}


.miniCards, .miniCards1{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: black;
    padding: 15px;
    height: 46vh;
}

.miniCards{
    height: 31%;
}


.cardd, .cardds{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 30px;
    height: 100%;
    width: 99%;
    border-radius: 8px;
    transition: all 0.3s ease;
}
.wrap{
    display: flex;
    height: 100%;
    /* padding-top: 1%; */
    /* border: 1px solid red; */
    gap: 3px;
    align-items: center;
    text-align: center;
    position: relative;
}

.Category{
    height: 14%;
    width: 98.4%;
    display: flex;
    justify-content: space-between;
    align-items: last baseline;
}

.images{
    display: flex;
    gap: 10px;
    overflow-x: auto;
    padding-bottom: 10px;
    scrollbar-width: none;
    height: 78%;
}

.images::-webkit-scrollbar{
    display: none;
}


.images.images-wrap{
    flex-wrap: wrap;
    overflow-x: hidden;
    overflow-y: auto;
    gap: 20px;
}


.imgg{
     margin-top: 4px;
     
    width: 80;
    height: 200px;  
    border: 1px solid grey;
    border-radius: 20px;
    overflow: hidden;
    flex-shrink: 0;  
}


.images imgg{
    border: 1px solid red;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    border: 1px solid black;
    transition: transform 0.3s;
}


.images imgg:hover{
    transform: scale(1.05);
}